.home {
    display: flex;
    flex-direction: row;
    height: 94vh;
    color: white;
}
.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.home-welcome {
    text-align: center;
    padding-top: 60px;
    font-size: 55px;
}
.home-chat {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border: #b4b4b4b3 solid 1px;
    border-radius: 5px;
}
.home-chat-input {
    all: unset;
    width: 100%;
    background-color: #0a0a0a;
}
.home-chat-enter-icon{
    cursor: pointer;
    padding: 5px;
}