.eventspost{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    border: #b4b4b457 solid 1px;
    padding-bottom: 10px;
}
.eventspost-poster {
    height: 200px;
    width: 100%;
    position: relative;
}
.eventsposter-poster-thumbnail {
    width: 100%;
    opacity: 0.5;
}
.eventpost-title {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.eventsposter-poster-dp{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.eventspost-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
    cursor: pointer;
}
.eventspost-poster-profile {
    height: 40px;
    width: 40px;
    object-fit: cover;
    filter: grayscale(1);
}
.eventspost-profile:hover > .eventspost-poster-profile{
    filter: grayscale(0);
}
.eventspost-profile-details p {
    margin: 0;
    font-size: 14px;
    margin: 0px 15px;
}
.eventspost-poster-desc{
    margin-left: 10px;
    font-size: 14px;
    color: #696969;
    font-weight: 500;
}
.eventspost-poster-tags{
    margin-left: 10px;
    padding: 0px 10px;
    width: fit-content;
    border-radius: 5px;
    background-color:darkblue;
}